<header id="masthead" class="site-header">
  <div class="site-branding">
    <p class="site-title"><a href="/" ref="home">{{site.name}}</a></p>
  </div>
  <nav id="site-navigation" class="main-navigation">
    <div class="menu-main-navigation-container">
      <ul id="primary-menu" class="menu nav-menu">
        <li class="menu-item">
          <a href="/">Home</a>
        </li>
        <li class="menu-item">
          <a href="/services/">Services</a>
        </li>
        <li class="menu-item">
          <a href="/contact/">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
