---
layout: default-page
title: 365 Days Calendar
permalink: /apps/365-days-calendar/
---

<div class="home">
  <div class="entry-content">

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="intro">
            <p class="description">
              Minimal and easy-to-use app that allows you to calculate the
              number of days between current date and the provided date. With
              just a few simple steps, you can quickly and easily determine the
              exact number of days between the current date and any other date
              you input.
            </p>
            <div>
              <a class="primary-button" href="/contact">Contact for any support</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>