---
layout: default
title: Welcome
permalink: /
---

<div class="home">
  <header class="entry-header">
    <h1 class="entry-title">
      Design, Develop and Deploy your products with our team
    </h1>
  </header>
  <div class="entry-content">

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="intro">
            <p class="description">
              Collaboratively design/prototype, develop and launch mobile and web applications. We develop and manage your digital presence so you can focus your business
            </p>
            <div>
              <a class="primary-button" href="/contact">Contact sales</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="services" class="services">
      <h2>We offer all your digital presence</h2>
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <h3>Application Development</h3>
            <p>
              We design and develop your mobile applications from the ground up
            </p>
          </div>
          <div class="col-md-4 col-sm-12">
            <h3>E-Commerce</h3>
            <p>
              Get up and running your online store. A complete solution with payment and shipping integration
            </p>
          </div>
          <div class="col-md-4 col-sm-12">
            <h3>Web Hosting</h3>
            <p>
              If you already have a website/application and not happy with your current provider, we can migrate and host your websites and applications in our cloud servers
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <h3>API Development and Integration</h3>
            <p>
              Mobile and web clients need API to exchange data from server applications. We can work with your existing team to develop server side apps or use your API to develop your mobile applications
            </p>
          </div>
          <div class="col-md-4 col-sm-12">
            <h3>Web and Mobile Analytics</h3>
            <p>
              We can also provide analytics for your mobile and web usage, customer engagement etc.
            </p>
          </div>
          <div class="col-md-4 col-sm-12">
            <h3>Consulting</h3>
            <p>
              Our team will work with your engineering team and provide guidance and directions towards your business goals
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container technologies">
      <p class="title">Some Technologies we use</p>
      <div class="row">
        <div class="col-md-3 col-sm-12"><div class="item">React</div></div>
        <div class="col-md-3 col-sm-12"><div class="item">iOS</div></div>
        <div class="col-md-3 col-sm-12"><div class="item">Android</div></div>
        <div class="col-md-3 col-sm-12"><div class="item">Flutter</div></div>
      </div>
    </div>
  </div>

</div>
