---
layout: default-page
title: MyNumber
permalink: /apps/mynumber/
---

<div class="home">
  <div class="entry-content">

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="intro">
            <p class="description">
              Minimal and easy-to-use app that allows you to create digital business cards in a few seconds
              Customize your card with your name, phone number, email, and website, and share it with anyone you want.
              With just a few simple steps, you can quickly and easily create a professional-looking digital business card that you can share with anyone.
            </p>
            <div>
              <a class="primary-button" href="/contact">Contact for any support</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
