@font-face {
	font-weight: 400;
	font-family: "Playball";
	src: url("fonts/Playball-Regular.ttf")  format("truetype");
}

@font-face {
	font-weight: 400;
	font-family: "Nanum Gothic";
	src: url("fonts/NanumGothicCoding-Regular.ttf")  format("truetype");
}

@font-face {
	font-weight: 700;
	font-family: "Nanum Gothic";
	src: url("fonts/NanumGothicCoding-Bold.ttf")  format("truetype");
}
