<!doctype html>
<html lang="en">
{{> head}}
<body>
{{> header}}
<main id="primary" class="site-main">
  <header class="entry-header">
    <h1 class="entry-title">
      {{title}}
    </h1>
  </header>
  <div class="entry-content">
    <div class="container">
      {{{content}}}
    </div>
  </div>
</main>
</body>
</html>
