---
title: Maintenance
excerpt: "Applications are just like other assets. They require proper updates and maintenances"
---

<p>Applications are just like other assets. They require proper updates and maintenances</p>
